<div class="input-group mt-3">
	<input id="name" class="form-control" type="text" placeholder="Medication" data-bind="value: name">
	<input class="form-control" type="text" placeholder="Dosage" data-bind="value: dosage">
	<button class="btn btn-success" type="button" data-bind="event: {click: addMedicationClick}">&plus; Add</button>
</div>
<div class="mt-3">
	<table class="medication-table table align-middle">
		<thead>
			<th></th>
			<th>Medication</th>
			<th>Dosage</th>
		</thead>
		<tbody data-bind="foreach: medications">
			<tr>
				<td>
					<button class="btn btn-danger" data-bind="event: {click: $parent.removeMedicationClick}">&#x1F5D1;</button>
				</td>
				<td data-bind="text: name"></td>
				<td data-bind="text: dosage"></td>
			</tr>
		</tbody>
	</table>
</div>
