<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Pill Tracker</title>
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-eval';" />
	<link rel="stylesheet" href="./bootstrap.min.css">
	<link rel="stylesheet" href="./index.css">
</head>
<body class="p-3">
	<div class="main flex-column" style="display: none;" data-bind="class: mainPanelClass">
		<div class="d-flex flex-row">
			<div class="flex-grow-1 form-check form-switch">
				<input class="form-check-input" type="checkbox" id="add-remove-switch" data-bind="checked: addRemoveSwitch">
				<label class="form-check-label" for="add-remove-switch">Add/Remove</label>
			</div>
			<a href="#" class="fs-4 text-decoration-none" data-bind="click: gearClick">&#x2699;</a>
		</div>
		<div id="no-medications" class="flex-column flex-grow-1 justify-content-center align-items-center" data-bind="class: noMedicationsClass" style="display: none;">
			<h1>No medications added.</h1>
			<h5>Click <a href="#" data-bind="click: addRemoveClick">here</a> to add some.</h5>
		</div>
		<div id="medications" class="flex-column justify-content-center" data-bind="class: medicationsClass, template: {name: 'medication-row-template', foreach: medications}" style="display: none;">
		</div>
		<div class="flex-column" data-bind="class: addRemoveClass, template: {name: 'add-remove-form-template'}" style="display: none;">
		</div>
	</div>
	<div class="settings flex-column" style="display: none;" data-bind="class: settingsPanelClass">
		<div id="settings" data-bind="template: {name: 'settings-form-template'}"></div>
	</div>

	<script type="text/html" id="medication-row-template">
		<div class="medication-row d-flex flex-row mt-3 justify-content-center">
			<div class="me-3 text-end">
				 <h5 class="mb-0" data-bind="text: name"></h5>
				 <p class="fs-6" data-bind="text: dosage"></p>
			 </div>
			 <div class="flex-grow-1">
				 <div class="btn-group">
					 <input type="checkbox" class="btn-check" autocomplete="off" data-bind="attr: {id: 'morning' + id}, checked: morning, event: {change:            $parent.setMedication}">
					 <label class="btn btn-outline-primary" data-bind="attr: {for: 'morning' + id}">Morning</label>
					 <input type="checkbox" class="btn-check" autocomplete="off" data-bind="attr: {id: 'afternoon' + id}, checked: afternoon, event: {change:        $parent.setMedication}">
					 <label class="btn btn-outline-primary" data-bind="attr: {for: 'afternoon' + id}">Afternoon</label>
					 <input type="checkbox" class="btn-check" autocomplete="off" data-bind="attr: {id: 'evening' + id}, checked: evening, event: {change:            $parent.setMedication}">
					 <label data-bind="attr: {for: 'evening' + id}" class="btn btn-outline-primary">Evening</label>
				 </div>
			 </div>
		 </div>
	</script>
	
	<script type="text/html" id="add-remove-form-template">
		<div class="input-group mt-3">
			<input id="name" class="form-control" type="text" placeholder="Medication" data-bind="value: name">
			<input class="form-control" type="text" placeholder="Dosage" data-bind="value: dosage">
			<button class="btn btn-success" type="button" data-bind="event: {click: addMedicationClick}">&plus; Add</button>
		</div>
		<div class="mt-3">
			<table class="medication-table table align-middle">
				<thead>
					<th></th>
					<th>Medication</th>
					<th>Dosage</th>
				</thead>
				<tbody data-bind="foreach: medications">
					<tr>
						<td>
							<button class="btn btn-danger" data-bind="event: {click: $parent.removeMedicationClick}">&#x1F5D1;</button>
						</td>
						<td data-bind="text: name"></td>
						<td data-bind="text: dosage"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</script>
	
	<script type="text/html" id="settings-form-template">
		<div class="d-flex flex-row align-items-center">
			<div>
				<button type="button" class="btn btn-secondary btn-sm" data-bind="click: backButtonClick">&lt;&lt; Back</button>
			</div>
			<h1 class="flex-grow-1 ms-2">Settings</h1>
		 </div>
		<div class="form-check form-switch">
			<input class="form-check-input" type="checkbox" id="use-cloud-storage-switch" data-bind="checked: useCloudStorage, click: useCloudStorageClick">
			<label class="form-check-label" for="use-cloud-storage-switch">Use Cloud Storage</label>
		</div>
		<div class="mt-3" style="display: none;" data-bind="class: useCloudStorageClass">
			<label for="storage-path" class="form-label">Storage Path:</label>
			<input type="text" id="storage-path" class="form-control" placeholder="Click to set" readonly data-bind="value: storagePath, click: storagePathClick">
		</div>
	</script>

	<script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="../node_modules/knockout/build/output/knockout-latest.js"></script>
	<script src="./renderer.js"></script>
</body>
</html>
